<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="site-footer">
    <div class="site-footer">
        <div class="container">
            <div class="box">
                <p>
                    Projekt lavet af Rune, Ava, Nico & Daniel
                </p>
            </div>

            <div class="logo">
                <a target="blank" href="https://github.com/aaalxi/Projekt2_Gruppe_1_Oenskeskyen">
                    <img src="/img/githubLogo.svg" alt="logo" class="image">
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>