<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <title>Tilføj ønske</title>
    <link rel="icon" th:href="@{/img/oenskelogosvg.svg}" type="image/svg">
</head>
<body>
<header>
    <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<div class="main-content">
    <form class="wish-form" th:action="@{/wishlist/add}" method="post">
        <label for="name">Navn</label>
        <input type="text" id="name" name="name" required>
        <label for="url">Link</label>
        <input type="url" id="url" name="url">
        <label for="price">Pris</label>
        <input type="number" id="price" name="price">
        <label for="currency">Valuta</label>
        <select id="currency" for="price" name="currency">
            <option value="DKK" selected>DKK — Dansk krone</option>
            <option value="EUR">EUR — Euro</option>
            <option value="USD">USD — Amerikansk dollar</option>
            <option value="GBP">GBP — Britisk pund</option>
            <option value="SEK">SEK — Svensk krone</option>
            <option value="NOK">NOK — Norsk krone</option>
        </select>
        <label for="priority">Prioritet</label>
        <input type="number" id="priority" name="priority">
        <label for="description">Beskrivelse</label>
        <textarea class="wish-textarea" id="description" name="description" rows="4" cols="50"></textarea>
        <input type="hidden" th:name="id" th:value="${wishlist.ID}">
        <button type="submit">Opret ønske</button>
    </form>
</div>

<footer th:replace="~{fragment/footer :: site-footer}"></footer>
</body>
</html>