<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret ønskeliste</title>
</head>

<body>

<header>
  <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<h1>Opret ny ønskeliste</h1>

<form th:action="@{/profile/createWishlist}" method="post">
  <label for="title">Navngiv din ønskeliste</label>
 <input type="text" id="title" name="title" placeholder="eks. Fødselsdagsliste" required>
  <button type="submit">Opret</button>
</form>

<footer>
  <div th:replace="~{fragment/footer :: site-footer}"></div>
</footer>

</body>

</html>