<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/header.css}">
    <title>Start</title>
</head>
<header>
    <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<body>

<p>
 <a href="/login">Login</a>
    <a href="/user-register">Opret bruger</a>
</p>

<a href="/wishlists">se wishlist</a>

</body>

<footer>
    <div th:replace="~{fragment/footer :: site-footer}"></div>
</footer>


</html>
