<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/header.css}">
    <title>Profile</title>
</head>

<body>
<header>
    <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<div>
    <h1>Min profil</h1>

    <section>
        <p>Brugernavn: <span th:text="${session.user.username}"></span></p>
        <p>Email: <span th:text="${session.user.email}"></span></p>
        <p>Fødselsdag: <span th:text="${session.user.birthday}"></span></p>
    </section>

    <a th:href="@{/logout}">Log ud</a>
</div>

<div>
    <h2>Ønskelister</h2>

    <div class="wishlist-list">
        <div th:each="list : ${wishlists}" class="wishlist-individual">
            <a th:href="@{/profile/wishlistId={id}(id=${list.ID})}">
                <h3 th:text="${list.title}">Wishlist title</h3>

                <div class="wishlist-text">
                    <p th:text="${list.createdAt}">creation date</p>
                </div>
            </a>

            <form th:action="@{/profile/deleteWishlist}" method="post">
                <input type="hidden" th:name="ID" th:value="${list.ID}">
                <button type="submit">Slet liste</button>
            </form>
        </div>
    </div>

    <div>
        <a th:href="@{/profile/createWishlist}">
            <button>Opret ny ønskeliste</button>
        </a>
    </div>
</div>


<footer>
    <div th:replace="~{fragment/footer :: site-footer}"></div>
</footer>
</body>
</html>