<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <title>Registrer bruger</title>
    <link rel="icon" th:href="@{/img/oenskelogosvg.svg}" type="image/svg">
</head>
<body>
<header>
    <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<div class="main-content">
    <h1>Opret ny bruger</h1>

    <form th:action="@{/user-register}" method="post">
        <label for="username">Brugernavn: </label>
        <input type="text" id="username" name="username" required>
        <label for="email">E-mail: </label>
        <input type="email" id="email" name="email" placeholder="eks. rune123@gmail.com" required>
        <label for="birthday">Fødselsdato: </label>
        <input type="date" id="birthday" name="birthday" required>
        <label for="password">Kodeord: </label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Opret bruger</button>
        <button type="reset">Nulstil form</button>
    </form>
</div>

<footer th:replace="~{fragment/footer :: site-footer}"></footer>
</body>
</html>