<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Ønskeliste</title>
    <link rel="icon" th:href="@{/img/oenskelogosvg.svg}" type="image/svg">
</head>
<body>
<header>
    <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<div class="main-content">
    <div class="wishlist-wishes">
        <h3 th:text="${wishlist.title}"></h3>
        <div class="wish-box">
            <div class="wish-individual" th:each="wish : ${wishes}">
                <p th:text="${wish.getName()}"></p>
                <p th:text="${wish.getDescription()}"></p>
                <p th:text="${wish.getPrice()}"></p>
                <!-- denne side er ikke færdig endnu -->
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <form th:action="@{/profile/deleteWishlist}" method="post">
        <input type="hidden" th:name="ID" th:value="${wishlist.ID}">
        <button type="submit" class="delete-button">Slet ønskeliste</button>
    </form>

    <a th:href="@{/wishlist/add(id=${wishlist.ID})}">
        <button type="submit">Tilføj ønske til ønskeliste</button>
    </a>
</div>

<footer>
    <div th:replace="~{fragment/footer :: site-footer}"></div>
</footer>
</body>
</html>