<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlists</title>
</head>
<body>
<header>
    <div th:replace="~{fragment/header :: site-header}"></div>
</header>

<div>
    <a th:href="@{/wishlists/create}">
        <button>Opret ny ønskeliste</button>
    </a>
</div>

<div class="wishlist-list">
    <div th:each="list : ${wishlists}" class="wishlist-individual">
        <a th:href="@{/wishlists/{id}(id=${list.ID})}"> <!-- th:href skal umiddelbart stå her når det bliver lavet -->
            <h3 th:text="${list.title}">Wishlist title</h3>

            <div class="wishlist-text">
                <p th:text="${list.createdAt}">creation date</p>
            </div>
        </a>

        <form th:action="@{/wishlists/delete}" method="post">
            <input type="hidden" th:name="ID" th:value="${list.ID}">
            <button type="submit">Slet liste</button>
        </form>
    </div>
</div>

<footer>
    <div th:replace="~{fragment/footer :: site-footer}"></div>
</footer>
</body>
</html>